<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='default.css')}}" type=text/css>
</head>
<body>
    <div class="main-wrapper">
        <h1 class="heading title">YOW!</h1>
        <h2 class="heading page-heading">Delete Menu Item</h2>
        <div class="main">
            <form action="{{ url_for('deleteMenuItem', restaurant_id=item.restaurant_id, menu_id=item.id)}}" method = 'post'>
                <p>Are you sure you want to delete {{item.name}}?</p>
                <input type='submit', value = 'Delete'>
            </form>

            <a href = "{{ url_for('showMenu', restaurant_id = item.restaurant_id)}}"> Cancel </a>
        </div>
    </div>
</body>
</html>